body {
	font-family: 'Arvo', serif;
	background-color:#424039;
}

ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 background-color: #f5f3ed;
}

li {
	float: left;
}

li a {
	 display: block;
	 color: #424039;
	 text-align: center;
	 padding: 14px 156px;
	 text-decoration: none;
}

li a:hover {
	background-color: #fcc572;
}

.active {
	background-color: #db680f;
}

footer {
	text-align: center;
	margin-top:26%;
	padding: 3px;
    background-color: #f5f3ed;
	color:#424039;
}
img {
	height:60px;
}

#twitter {
	height:53px;
	margin-bottom:4px;
}

h3,h2{
color:white;
}
