<<<<<<< HEAD
body{
background-color:#f5f3ed;
box-sizing: border-box;
margin:0;
padding:0;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

li,a,button{
font-family: 'Anton', sans-serif;
font-weight:600;
font-size:16px;
color:#edf0f1;
text-decoration:none;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding: 30px 10%;
}

.nav_links{
list-style:none;
}
.nav_links li{
display:inline-block;
padding: 0px 20px;
}

.nav_links li a{
transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
color:#fcc572;
transition: all 0.3s ease 0s;
}
button{
padding: 9px 25px;
background-color:#fcc572;
border:none;
border-radius:50px;
cursor:pointer;
transition: all 0.3s ease 0s;
}

button:hover{
background-color:rgba(0,136,169,0.8);
}

header{
background-color:#424039;
}

h2{
text-align:center;
}
.logo{
width:150px;
height:130px;
}
=======
body {
	font-family: 'Arvo', serif;
	background-color:#424039;
}

ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
	 overflow: hidden;
	 background-color: #f5f3ed;
}

li {
	float: left;
}

li a {
	 display: block;
	 color: #424039;
	 text-align: center;
	 padding: 14px 156px;
	 text-decoration: none;
}

li a:hover {
	background-color: #fcc572;
}

.active {
	background-color: #db680f;
}

footer {
	text-align: center;
	margin-top:26%;
	padding: 3px;
    background-color: #f5f3ed;
	color:#424039;
}

img {
	height:60px;
}

#twitter {
	height:53px;
	margin-bottom:4px;
}
h2{
text-align:center;
color:white;
}
h3{
color:white;
}
>>>>>>> fc062a193dcf04b40d2e4d0b0648bbffd1f72d3c
